@charset "UTF-8";

body{
     margin: 0 10px;
}
.conteudo-principal__escrito-titulo{
    /* font-size: 48px;*/
}
.conteudo-principal__imagem{
     height: 200px;

}
.cabecalho{
     display: flex;
     flex-flow: column nowrap;

}
.cabecalho-menu{
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
     justify-content: center;
    
     margin-top: 10px;
     gap:5px;
     
}
.cabecalho-menu > a{
     display: block;
     background-color: rgba(0, 0, 0, .2);
     padding: 10px;
     border-radius: 5px;   
     width: 190px;
     text-align: center;
}

.conteudo-principal__escrito-botao{
     margin: auto;
}